<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>巡检回执录入</title>
    <link type="text/css" href="webjars/bootstrap" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}"
          rel="stylesheet">

    <!--//<script src="js/jquery.form.js" type="text/javascript"></script>-->
    <link rel="stylesheet" type="text/css" href="css/ShowPage.css"/>
    <script th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
    <script th:src="@{/webjars/bootstrap3.3.7/js/bootstrap.js}"></script>
    <script src="js/jsform.js" type="text/javascript"></script>
    <link rel="stylesheet" href="css/datepicker.css">
    <script src="js/moment.js"></script>
    <script src="js/datepicker.js"></script>
    <script src="js/date.js"></script>
<style type="text/css">
    #wrap{
        height: 400px;
    }
    .leftpart{
        width:200px;/* 左侧宽度任意 */
        height: 400px;
        margin-right: 20px;
        float:left;
    }
    .rightpart{
        border: black 1px solid;
        line-height: 40px;
        padding-left: 20px;
        padding-top: 10px;
        overflow: hidden;
        height: 600px;
        position: relative;

    }
    .row div{
        padding-top: 10px;
    }
</style>
<body>
<p id="van">
    <span>巡检任务管理</span>
    <span>&gt;&gt;&nbsp;</span>
    <span>巡检任务制定与分配</span>
    <span>&gt;&gt;&nbsp;</span>
    <span>巡检任务回执录入</span>
</p>
<div style="padding: 0px 30px 0px 30px;" id="wrap">
    <div class="leftpart">
        <div style="padding: 20px 10px 0px 20px; border: #3e3e3e 1px solid;width: 200px;display:inline-block;height: 350px">
            <div class="input-prepend input-group">
                <span class="add-on input-group-addon" th:text="'线路编号:'+${Checktask.circuitNo}"></span>
                <input type="hidden" th:value="${Checktask.circuitNo}" id="circuitNo" >
                <input type="hidden" th:value="${Checktask.jobId}" id="jobId" >
            </div>
                <button type="button" class="fc-prev-button fc-button fc-state-default fc-corner-left" id="last"><span
                        class="fc-icon fc-icon-left-single-arrow"><</span></button>
                <button type="button" class="fc-next-button fc-button fc-state-default fc-corner-right" id="next"><span
                        class="fc-icon fc-icon-right-single-arrow"> > </span></button>

            <input type="hidden" id="pageIndex" value="1">
            <ol style="list-style: none;font-size: large;text-indent: 2em" id="towerls">

            </ol>
        </div>
        <button  class="btn btn-primary" onclick="javascript:history.back(-1);">返回</button>
        <button  class="btn btn-primary" id="up" href=\"changeStuts.html?jobId="++"&status=已完成\">上传回执</button>

    </div>

    <div class="rightpart">
        <form id="addFlawinfo">
            <div class="row" style="width: 500px;">
                <div  class="col-lg-9 col-sm-9 col-xs-9 col-lg-push-2" >
                    <div class="col-lg-6 col-sm-12 col-xs-12">
                        <div class="input-prepend input-group">
                            <input type="hidden" name="checkJobNo" th:value="${Checktask.jobId}">
                            <span class="add-on input-group-addon">线路编号：</span>
                            <input type="text" disabled="disabled"  class="form-control" th:value="${Checktask.circuitNo}">
                            <input type="hidden" name="circuitNo"  class="form-control" th:value="${Checktask.circuitNo}">
                            <span style="color: red" id="addCircuitNoSpan"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-xs-12 ">
                        <div class="input-prepend input-group">
                            <input type="hidden" name="flawNo" id="flawNo" value="">
                            <span class="add-on input-group-addon">塔杆编号：</span>
                            <input type="text" name="towerNo" id="towerNo" disabled="disabled" class="form-control" value="">
                            <input type="hidden" name="towerNo"class="form-control" value="">
                            <span style="color: red" id=""></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-xs-12 ">
                        <div class="input-prepend input-group">
                            <span class="add-on input-group-addon">缺陷类型:</span>
                            <select name="flawTypeId" class="form-control" id="flawTypeId">
                                <option value="0">-请选择-</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-12 col-xs-12 ">
                        <div class="input-prepend input-group">
                            <span class="add-on input-group-addon">缺陷级别:</span>
                            <select name="flawLv"  class="form-control" id="flawLv">
                                <option value="">-请选择-</option>
                                <option value="无缺陷">无缺陷</option>
                                <option value="一般">一般</option>
                                <option value="严重">严重</option>
                                <option value="紧急">紧急</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-xs-12 " style="width: 250px">
                        <div class="input-prepend input-group">
                            <span class="add-on input-group-addon">完好率：</span>
                            <input type="text" name="intcatRates" id="intcatRate" class="form-control" value="" style="width:100px; height:40px"><span>%</span>
                            <span style="color: red" id="addCircuitNameSpan"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-xs-12">
                        <div class="input-prepend input-group">
                            <span class="add-on input-group-addon">巡检员：</span>
                            <input hidden="hidden" name="checkBy" th:value="${session.worker.getUserNo()}">
                            <input  class="form-control" disabled="disabled" id="checkBy"
                                    th:value="${session.worker.getUserName()}">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-xs-12">
                        <div class="input-prepend input-group">
                            <span class="add-on input-group-addon">巡检日期：</span>
                            <input type="text" class="form-control" disabled="disabled" id="checkDate"
                                   th:value="${#dates.format(#dates.createNow(),'yyyy-MM-dd')}">
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12 col-xs-12 ">
                        <div class="input-prepend input-group">
                            <span class="add-on input-group-addon">备注：</span>
                            <textarea name="comment" cols="66"rows="5" class="form-control" id="comment"></textarea>
                        </div>
                    </div>
                </div>
                <input type="hidden" class="btn btn-primary"  id="update" value="修改"></input>
                <input type="hidden" class="btn btn-primary"  id="save" value="保存"></input>
            </div>
        </form>
    </div>
</div>
</div>
</body>
<script type="text/javascript">

    $(function () {
        f();
    })
    function f() {
        var index=$("#pageIndex").val();
        var circuitNo=$("#circuitNo").val();
        var jobId=$("#jobId").val();
        var dat="pageIndex="+index+"&circuitNo="+circuitNo+"&jobId="+jobId;
        $.get("getTowerList.html",dat,function (data) {
            var str="";
            $.each(data.ps.dataList,function (i,obj) {
                var color="";
                var cla="0";
                var flawNo="";
                if(obj!=null){
                    $.each(data.fs,function (i,obj2) {
                        if (obj2!=null){
                            if(obj2.towerNo==obj.towerNo){
                                color="#FF8888";
                                cla="1";
                                flawNo=obj2.flawNo;
                            }
                        }
                    })
                    str+="<li flawNo='"+flawNo+"' a='"+cla+"' style='color:"+color+";background-color:#FFFFFF' class='towerNoList' id='"+obj.towerNo+"'>"+obj.towerNo+"</li>"
                }
            })
            $("#towerls").html(str);

            if(data.ps.pageIndex<=1){
                $("#last").attr("disabled","disabled");
            }else {
                $("#last").removeAttr("disabled")
            }
            if(data.ps.pageIndex==data.ps.pageCount){
                $("#next").attr("disabled","disabled");
            }else{
                $("#next").removeAttr("disabled")
            }
        },"json");
    }

    $("#next").click(function () {
        var index=$("#pageIndex").val();
        $("#pageIndex").val(eval(index+"+"+"1"));
        f();
    })
    $("#last").click(function () {
        var index=$("#pageIndex").val();

        $("#pageIndex").val(eval(index+"-"+"1"));
        f();
    })


    $(document).on("click",".towerNoList",(function () {
        $(".towerNoList").css("background-color","#FFFFFF");
        $(this).css("background-color","#C4C4C4");
        if($(this).attr("flawNo")!=""){
            getFlawinfo($(this).attr("flawNo"));
        }else {
            $("#intcatRate").val(100);
            $("#flawLv option[value='']").prop("selected","selected");
            $("#flawTypeId option[value=0]").prop("selected","selected");
            $("#comment").val('');
            $("#checkDate").val((new Date()).Format("yyyy-MM-dd"));
        }
        var c=$(this).attr("a");
        if(c=="1"){
            $("#update").attr("type","submit");
            $("#save").attr("type","hidden");
        }else{
            $("#save").attr("type","submit");
            $("#update").attr("type","hidden");
        }
        $("[name='towerNo']").val($(this).text());
    }))

    $(function () {
        $.post("getflawTypeList.html",function (data) {
            var str="<option value='0'>"+"-请选择-"+"</option>";
            $.each(data,function (i,obj) {
                str+="<option value='"+obj.flawTypeId+"'>"+obj.flawName+"</option>"
            })
            $("#flawTypeId").html(str);
        },"json")
    })

    $("#save").click(function () {
        submitt();
        $("#save").attr("type","hidden");
        $("#intcatRate").val(100);
        $("#flawLv option[value='']").prop("selected","selected");
        $("#flawTypeId option[value=0]").prop("selected","selected");
        $("#comment").val('');
        $("#checkDate").val((new Date()).Format("yyyy-MM-dd"));
        return false;
    });
    $("#update").click(function () {
        update();
        $("#update").attr("type","hidden");
        $("#intcatRate").val(100);
        $("#flawLv option[value='']").prop("selected","selected");
        $("#flawTypeId option[value=0]").prop("selected","selected");
        $("#comment").val('');
        $("#checkDate").val((new Date()).Format("yyyy-MM-dd"));
        return false;
    });
    function getFlawinfo(flawNo) {
        $.get("getFlawinfo.html","flawNo="+flawNo,function (data) {
            var flawName=""
            var checkBy=""
            $.each(data.workList,function (i,obj) {
                if(obj.userNo==data.flawInfo.checkBy){
                    checkBy=obj.userName;
                }
            })
            $.each(data.flawTypeList,function (i,obj) {
                if(obj.flawTypeId==data.flawInfo.flawTypeId){
                    flawName=obj.flawName;
                }
            })
            $("#flawNo").val(data.flawInfo.flawNo)
            $("#intcatRate").val(data.flawInfo.intcatRate);
            $("#flawLv option[value="+data.flawInfo.flawLv+"]").prop("selected","selected");
            $("#flawTypeId option[value="+data.flawInfo.flawTypeId+"]").prop("selected","selected");
            $("#comment").val(data.flawInfo.comment);
            $("#checkDate").val(data.flawInfo.checkDate);
        },"json");
    }
function submitt(){
    $("#addFlawinfo").ajaxSubmit({
        type: "post",  //提交方式
        dataType: "json", //数据类型
        url: "addFlawinfo.html", //请求url
        success: function (data) {//提交成功的回调函数
        if (data==1){
            f();
            }
        }
    });
}

    function update(){
        $("#addFlawinfo").ajaxSubmit({
            type: "post",  //提交方式
            dataType: "json", //数据类型
            url: "update.html", //请求url
            success: function (data) {//提交成功的回调函数
                if (data==1){
                    f();
                }
            }
        });
    }
$("#up").click(function () {
   /* window.location.href=url*/
})
    Date.prototype.Format = function (fmt) {
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "H+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }

</script>
</html>