<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>巡检任务管理</title>
    <link type="text/css" href="webjars/bootstrap" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}" rel="stylesheet">
    <script th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.js}"></script>
</head>
<body>
<div style="padding: 30px 50px 30px 20px">巡检任务 -->巡检任务制定与分配</div>
<br>
<div class="col-md-12">
    <div class="col-md-4">
        <div class="col-md-4">任务编号:</div>
        <div class="col-md-8"><input ></div>
    </div>
    <div class="col-md-4">
        <div class="col-md-4">线路编号:</div>
        <div class="col-md-8"><input ></div>
    </div>
    <div class="col-md-4">
        <div class="col-md-6">
            <div class="col-md-6">任务状态:</div>
            <div class="col-md-6"><input ></div>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>


</body>
</html>