<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>线路修改</title>
    <link type="text/css" href="webjars/bootstrap" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}" rel="stylesheet">
    <script th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.js}"></script>
    <link rel="stylesheet" type="text/css" href="css/datepicker.css"/>
    <script src="js/moment.js"></script>
    <script src="js/datepicker.js"></script>
    <script src="js/date.js"></script>
    <style>

        .row input[type='text']{
            width: 200px;
        }
        .input-group{
            margin-bottom: 35px;
        }
        .input-group-addon{
            width:90px;
        }
    </style>
</head>
<body>
<div style="padding: 30px 50px 80px 20px">电力巡检系统 -->线路 --> 修改线路</div>
<div style="padding: 0px 50px 50px 50px">
    <form method="post" action="doUpdateCirciut.html" id="mycircuitAdd">
        <div class="row">
            <div  class="col-lg-9 col-sm-9 col-xs-9 col-lg-push-2" >
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <div class="input-prepend input-group">
                        <span class="add-on input-group-addon">线路编号：</span>
                        <input type="text" name="circuitNo" id="circuitNo" class="form-control" th:value="${updateCircuit.circuitNo}" readonly="readonly">
                        <span style="color: red" id="addCircuitNoSpan"></span>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12 ">
                    <div class="input-prepend input-group">
                        <span class="add-on input-group-addon">线路名称：</span>
                        <input type="text" name="circuitName" id="circuitName" class="form-control" th:value="${updateCircuit.circuitName}">
                        <span style="color: red" id="addCircuitNameSpan"></span>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12 ">
                    <div class="input-prepend input-group">
                        <span class="add-on input-group-addon">线路长度：</span>
                        <input type="text" name="lineLength" id="lineLength"  class="form-control" th:value="${updateCircuit.lineLength}">
                        <span style="color: red" id="addLineLengthSpan"></span>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12 ">
                    <div class="input-prepend input-group">
                        <span class="add-on input-group-addon">回路长度：</span>
                        <input type="text" name="circuitLength" id="circuitLength"  class="form-control" th:value="${updateCircuit.circuitLength}">
                        <span style="color: red" id="addCircuitLengthSpan"></span>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12 ">
                    <div class="input-prepend input-group">
                        <span class="add-on input-group-addon">投运日期：</span>
                        <div class="c-datepicker-date-editor c-datepicker-single-editor J-datepicker-day mt10">
                            <i class="c-datepicker-range__icon kxiconfont icon-clock"></i>
                            <input type="text" autocomplete="off" name="onlineDate" id="onlineDate" placeholder="选择日期"
                                   th:value="${#dates.format(updateCircuit.onlineDate,'yyyy-MM-dd')}"
                                   class=" c-datepicker-data-input only-date"style="width: 148px">
                            <span style="color: red" id="addOnlineDateSpan"></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12 ">
                    <div class="input-prepend input-group">
                        <span class="add-on input-group-addon">电压等级：</span>
                        <input type="text" name="voltLv" id="voltLv"   class="form-control" th:value="${updateCircuit.voltLv}">
                        <span style="color: red" id="addVoltLvSpan"></span>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12 ">
                    <div class="input-prepend input-group">
                        <span class="add-on input-group-addon">起始杆号：</span>
                        <input type="text" name="startNo" id="startNo"  class="form-control" th:value="${updateCircuit.startNo}">
                        <span style="color: red" id="addStartNoSpan"></span>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12 ">
                    <div class="input-prepend input-group">
                        <span class="add-on input-group-addon">终止杆号：</span>
                        <input type="text" name="stopNo" id="stopNo"  class="form-control" th:value="${updateCircuit.stopNo}">
                        <span style="color: red" id="addStopNoSpan"></span>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12 ">
                    <div class="input-prepend input-group">
                        <span class="add-on input-group-addon">塔基数：</span>
                        <input type="text" name="towerCount" id="towerCount"  class="form-control" th:value="${updateCircuit.towerCount}">
                        <span style="color: red" id="addTowerCountSpan"></span>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12 ">
                    <div class="input-prepend input-group">
                        <span class="add-on input-group-addon">是否启用：</span>
                        <span class="form-control">
                        <input type="radio" value="启用" name="useStatus" th:checked="${updateCircuit.useStatus=='启用'?true:false}" >启用
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                        <input type="radio" value="停用" name="useStatus" th:checked="${updateCircuit.useStatus=='停用'?true:false}">停用</td>
                            </span>
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12 col-xs-12 ">
                    <div class="input-prepend input-group">
                        <span class="add-on input-group-addon">备注：</span>
                        <textarea name="comment" cols="66"rows="5" class="form-control" th:value="${updateCircuit.comment}" th:text="${updateCircuit.comment}"></textarea>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12 ">
                    <button type="submit" class="btn btn-primary">保存</button> &nbsp; &nbsp; &nbsp; &nbsp;
                    <input type="button" value="返回"  class="btn btn-primary" onclick="history.back(-1);"></input>
                </div>
            </div>
        </div>
    </form>

</div>
</body>
<script type="text/javascript" src="js/circuitAdd.js"></script>
</html>