<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>线路添加或修改</title>
    <link type="text/css" href="webjars/bootstrap" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}" rel="stylesheet">

    <script th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.js}"></script>
    <link rel="stylesheet" type="text/css" href="css/datepicker.css"/>
    <script src="js/moment.js"></script>
    <script src="js/datepicker.js"></script>
    <script src="js/date.js"></script>
    <style>

        .row input[type='text']{
            width: 200px;
        }
        .input-group{
            margin-bottom: 35px;
        }
        .input-group-addon{
            width:90px;
        }
    </style>
</head>
<body>
<div style="padding: 30px 50px 80px 20px">电力巡检系统 -->线路 --> 新增线路</div>
<div style="padding: 0px 50px 50px 50px">
    <form method="post" action="addCircuit.html">
        <div class="row">
            <div  class="col-lg-9 col-sm-9 col-xs-9 col-lg-push-2" >
                <div class="col-lg-6 col-sm-12 col-xs-12">
                    <div class="input-prepend input-group">
                        <span class="add-on input-group-addon">线路编号：</span>
                        <input type="text" name="circuitNo" id="circuitNo" class="form-control" value="">
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12 ">
                    <div class="input-prepend input-group">
                        <span class="add-on input-group-addon">线路名称：</span>
                        <input type="text" name="circuitName" id="circuitName" class="form-control" value="">
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12 ">
                    <div class="input-prepend input-group">
                        <span class="add-on input-group-addon">线路长度：</span>
                        <input type="text" name="lineLength" class="form-control" value="">
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12 ">
                    <div class="input-prepend input-group">
                        <span class="add-on input-group-addon">回路长度：</span>
                        <input type="text" name="circuitLength"  class="form-control" value="">
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12 ">
                    <div class="input-prepend input-group">
                        <span class="add-on input-group-addon">投运日期：</span>
                        <div class="c-datepicker-date-editor c-datepicker-single-editor J-datepicker-day mt10">
                            <i class="c-datepicker-range__icon kxiconfont icon-clock"></i>
                            <input type="text" autocomplete="off" name="onlineDate" placeholder="选择日期"
                                   class=" c-datepicker-data-input only-date"style="width: 148px">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12 ">
                    <div class="input-prepend input-group">
                        <span class="add-on input-group-addon">电压等级：</span>
                        <input type="text" name="voltLv"  class="form-control" value="">
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12 ">
                    <div class="input-prepend input-group">
                        <span class="add-on input-group-addon">起始杆号：</span>
                        <input type="text" name="startNo"  class="form-control" value="">
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12 ">
                    <div class="input-prepend input-group">
                        <span class="add-on input-group-addon">终止杆号：</span>
                        <input type="text" name="stopNo"  class="form-control" value="">
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12 ">
                    <div class="input-prepend input-group">
                        <span class="add-on input-group-addon">塔基数：</span>
                        <input type="text" name="towerCount"  class="form-control" value="">
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12 ">
                    <div class="input-prepend input-group">
                        <span class="add-on input-group-addon">是否启用：</span>
                        <span class="form-control">
                        <input type="radio" value="启用" name="useStatus" checked="checked" >启用
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                        <input type="radio" value="停用" name="useStatus">停用</td>
                            </span>
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12 col-xs-12 ">
                    <div class="input-prepend input-group">
                        <span class="add-on input-group-addon">备注：</span>
                        <textarea name="comment" cols="66"rows="5" class="form-control">
                        请输入
                        </textarea>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-xs-12 ">
                    <button type="submit" class="btn btn-primary">保存</button> &nbsp; &nbsp; &nbsp; &nbsp;
                    <button type="button" class="btn btn-primary">返回</button>
                </div>
            </div>
        </div>
    </form>

</div>


</body>

</html>