<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>头部</title>
<link rel="stylesheet" type="text/css" href="css/public.css" />
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/public.js"></script>
</head>

<body>
	<!-- 头部 -->
	<div class="head">
		<div class="headL">
			<img class="headLogo" src="img/logo.png" style="width: 70px;" />
			<span style="font-size: 45px;color: white; " >电力巡航系统</span>
		</div>

		<div class="headR">
			<span style="color:#FFF">欢迎：<span th:text="${session.worker.getUserName()}"></span>
				角色：<span th:if="${session.worker.getRoleId()==1}">系统管理员</span>
				<span th:if="${session.worker.getRoleId()==2}">线路管理员</span>
				<span th:if="${session.worker.getRoleId()==3}">巡检员</span>
				<span th:if="${session.worker.getRoleId()==4}">消缺员</span>
			</span>
			<a href="head2.html" rel="external">【修改密码】</a>
			<a href="/exit.html" rel="external">【退出】</a><br/>
			<span id="current-time" style="color:#FFF">2019年11月4日 周一 下午16:04</span>
		</div>
	</div>
</body>
</html>