<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>角色权限配置</title>
    <link type="text/css" href="webjars/bootstrap" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}" rel="stylesheet">
    <script th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.js}"></script>

    <style>

        .row input[type='text']{
            width: 200px;
        }
        .input-group{
            margin-bottom: 8px;
        }
        .input-group-addon{
            width:90px;
        }

    </style>

</head>
<body>
    <p style="text-indent: 2em;padding-top: 20px">系统管理-->角色权限配置</p><br>

   <dl th:each="rule:${ruleList}">
       <!--<input type="text" th:value="selectAll+${rule.ruleId}">
       <input type="text" th:value="selectBox+${rule.perRuleId}">-->
       <dt th:if="${rule.perRuleId==0}">
           <input th:id="selectAll+${rule.ruleId}" th:ruleId="${rule.ruleId}"
                  type="checkbox" onclick="rule(this)">[[${rule.ruleName}]]</dt>
       <dd th:if="${rule.perRuleId!=0}">
           <input th:name="selectBox+${rule.perRuleId}" class="selectBox"
                  type="checkbox">[[${rule.ruleName}]]</dd>

   </dl>


</body>

<script type="text/javascript">
    function rule(obj){
        var ruleId=$(obj).attr("ruleId");
        var att1="sellectAll"+ruleId;
        alert(att1);
        alert($("#"+att1).attr("checked"));
        var checkedOfAll = $("#"+att1).prop("checked");
        var att="selectBox"+ruleId;
        $("input[name="+att+"]").prop("checked", checkedOfAll);
    }









    //头部-全选
    $(document).on('click', '#sellectAll', function () {
        var checkedOfAll = $("#sellectAll").prop("checked");
        // alert(checkedOfAll);
        $("input[name='selectBox']").prop("checked", checkedOfAll);
    });
    //列表-单选
    $(document).on('click', '.selectBox', function () {
        var ths = $(this);
        if (ths.checked == false) {
            $("inut[name=sellectAll]:checkbox").prop('checked', false);
        } else {
            var count = $("input[name='selectBox']:checkbox:checked").length;
            if (count == $("input[name='selectBox']:checkbox").length) {
                $("input[name=sellectAll]:checkbox").prop("checked", true);
            } else {
                $("input[name=sellectAll]:checkbox").prop("checked", false);
            }
        }
    });
</script>

</html>