<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>查看巡检任务</title>
</head>
<link type="text/css" href="webjars/bootstrap" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}"
      rel="stylesheet">
<script th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.js}"></script>
<body>
<p id="van">
    <span>消缺任务管理</span>
    <span>&gt;&gt;&nbsp;</span>
    <span>消缺任务制定与分配</span>
    <span>&gt;&gt;&nbsp;</span>
    <span>查看巡检任务</span>
</p>
<div style="padding: 0px 50px 0px 50px; border: #3e3e3e 1px solid">
    <div class="row">
        <div class="col-lg-3 col-sm-6 col-sm-12 "><span style="font-weight: bolder">任务编号:</span><span>rw0234</span></div>
        <div class="col-lg-3 col-sm-6 col-sm-12 "><span style="font-weight: bolder">任务名称:</span><span>西林一号线续建</span></div>
        <div class="col-lg-2 col-sm-6 col-sm-12 "><span style="font-weight: bolder">巡检线路:</span><span>心灵1好像</span></div>
        <div class="col-lg-2 col-sm-3 col-sm-12 "><span style="font-weight: bolder">起始杆号:</span><span>xw0001</span></div>
        <div class="col-lg-2 col-sm-3 col-sm-12 "><span style="font-weight: bolder">终止杆号:</span><span>xw00245</span></div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-6 col-sm-12 "><span style="font-weight: bolder">下发人:</span><span>线路管理源测试账号01</span></div>
        <div class="col-lg-3 col-sm-6 col-sm-12 "><span style="font-weight: bolder">下发时间:</span><span>1thasuihadskahs</span></div>
        <div class="col-lg-3 col-sm-6 col-sm-12 "><span style="font-weight: bolder">任务状态:</span><span>一万车</span></div>
        <div class="col-lg-3 col-sm-6 col-sm-12 "><span style="font-weight: bolder">任务完成时间:</span><span>xw0abkjsabdksjda001</span></div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-6 col-sm-12 "><span style="font-weight: bolder">备注信息:</span><span>五</span></div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-6 col-sm-12 "><span style="font-weight: bolder">巡检员:</span><span>五</span></div>
    </div>
</div>
<div class="row">
    <div style="padding: 0px 50px 0px 50px; border: #3e3e3e 1px solid" class="col-lg-3 col-sm-3 col-sm-12 ">


    </div>
    <div class="col-lg-1 col-sm-0 col-sm-0 ">
        <img src="img/jiantou.png" />
        <img class="coin22"	src="img/coin222.png" />
    </div>
    <div style="padding: 0px 50px 0px 50px; border: #3e3e3e 1px solid" class="col-lg-8 col-sm-9 col-sm-12 ">

        <img src="img/jiantou.png" />
        <img class="coin22"	src="img/coin222.png" />
    </div>
</div>
</body>
</html>