<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.elp.dao.ChecktaskDao">
    <select id="SelectChecktaskByParam" resultType="Checktaskinfo">
        select *  from checktaskinfo a
        <include refid="Param"></include>
        order  by a.createDate desc
            <if test="ChecktaskCondition.pageIndex!=null and ChecktaskCondition.pageIndex!='' and
ChecktaskCondition.pageSize!=null and ChecktaskCondition.pageSize!=''">
                limit #{ChecktaskCondition.from},
                #{ChecktaskCondition.pageSize}
            </if>

    </select>
    <select id="SelectChecktaskByParamCount" resultType="int" >
        select count(0) from checktaskinfo a
    </select>
    <sql id="Param">
        <where>
            <if test="ChecktaskCondition.jobId!=null and ChecktaskCondition.jobId!=''">
                and a.jobId like concat('%',#{ChecktaskCondition.jobId},'%')
            </if>
            <if test="ChecktaskCondition.abolish!=null and ChecktaskCondition.abolish!=''">
             and a.abolish=ChecktaskCondition.abolish
        </if>
            <if test="ChecktaskCondition.circuitNo!=null and ChecktaskCondition.circuitNo!=''">
                and a.circuitNo like concat('%',#{ChecktaskCondition.circuitNo},'%')
            </if>
            <if test="ChecktaskCondition.status!=null and ChecktaskCondition.status!=''">
                and a.status=#{ChecktaskCondition.status}
            </if>
            <if test="ChecktaskCondition.createBy!=null and ChecktaskCondition.createBy!=''">
                and a.jobId like concat('%',#{ChecktaskCondition.createBy},'%')
            </if>
            <if test="ChecktaskCondition.CreateDateMin!=null">
                and a.createDate>#{ChecktaskCondition.CreateDateMin}
            </if>
            <if test="ChecktaskCondition.CreateDateMax!=null">
                and a.createDate &lt;#{ChecktaskCondition.CreateDateMax}
            </if>
        </where>
    </sql>
</mapper>