<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.elp.dao.CircuitDao">
    <select id="findAllCircuit" resultType="Circuit">
        select * from circuit
    </select>
    <select id="findOneCircuit" resultType="Circuit">
        select * from circuit where circuitNo=#{circuitNo}
    </select>
    <select id="findAllCircuitPage" resultType="Circuit">
        select * from circuit
        <where>
            <if test="circuitNo!=null and circuitNo!=''">
                and circuitNo like concat('%',#{circuitNo},'%')
            </if>
            <if test="status!=null and status!=''">
                and runStatus=#{status}
            </if>
        </where>
        limit #{pageIndex},#{pageSize}
    </select>
    <select id="findAllCircuitCount" resultType="int">
        select count(1) as count from circuit
        <where>
            <if test="circuitNo!=null and circuitNo!=''">
                and circuitNo like concat('%',#{circuitNo},'%')
            </if>
            <if test="status!=null and status!=''">
                and runStatus=#{status}
            </if>
        </where>
    </select>
    <insert id="addOneCircuit" parameterType="circuit">
        insert into circuit values (#{circuitNo},#{circuitName},#{lineLength},#{circuitLength},
        #{towerCount},#{startNo},#{stopNo},#{onlineDate},#{voltLv},#{runStatus},#{useStatus},#{comment})
    </insert>

    <update id="updateOneStatus" parameterType="String">
        update circuit set useStatus=#{useStatus} where circuitNo=#{circuitNo}
    </update>

    <delete id="delOneCircuit">
        delete from circuit where  circuitNo=#{circuitNo}
    </delete>
    <update id="updateOneCircuit" parameterType="Circuit">
        update circuit set circuitNo=#{circuitNo},circuitName=#{circuitName},lineLength=#{lineLength},circuitLength=#{circuitLength},
        towerCount=#{towerCount},startNo=#{startNo},stopNo=#{stopNo},onlineDate=#{onlineDate},voltLV=#{voltLv},runStatus=#{runStatus},
        useStatus=#{useStatus},comment=#{comment} where circuitNo=#{circuitNo};
    </update>
</mapper>