<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.elp.dao.FlawTypeDao">

    <insert id="addFlawType" parameterType="Flawtype">
        insert into flawtype(flawName, status) values (#{flawName},#{status})
    </insert>

    <select id="findAllFlawType" resultType="Flawtype">
        select flawTypeId,flawName,status from flawtype
    </select>

    <select id="findAllFlawTypePaging" resultType="Flawtype">
        select flawTypeId,flawName,status from flawtype limit #{from},#{pageSize}
    </select>

    <select id="findAllFlawCount" resultType="int">
        select count(1) from flawtype;
    </select>

    <select id="findFlawTypeById" resultType="Flawtype" parameterType="Integer">
        select flawTypeId,flawName,status from flawtype where flawTypeId=#{flawTypeId}
    </select>

    <update id="updateFlawTypeById" parameterType="Flawtype">
        update flawtype set flawName=#{flawName},status=#{status} where flawTypeId=#{flawTypeId}
    </update>

    <delete id="delFlawTypeById" parameterType="Integer">
        delete from flawtype where flawTypeId=#{flawTypeId}
    </delete>

</mapper>