<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.elp.dao.SolveTaskInfoDao">


    <select id="findAllSolveTaskInfo" resultType="SolveTaskInfo">
    select `solveTaskNo`,solveTaskName,floawList,manager,finishiworkerId,creatBy
    ,createDate,documents,`describe`,`status` from solvetaskInfo
</select>
    <!--动态查询-->
    <select id="searchSolveTask" resultType="SolveTaskInfo">
        select `solveTaskNo`,solveTaskName,floawList,manager,finishiworkerId,finishDate,creatBy
        ,createDate,documents,`describe`,`status`,`comment` from solvetaskInfo
        <where>
            <if test="taskNo!=null and taskNo!=''">
                and solveTaskNo like concat('%',#{taskNo},'%')
            </if>
            <if test="taskName!=null and taskName!=''">
                and solveTaskName like concat('%',#{taskName},'%')
            </if>
            <if test="creatBy!=null and creatBy!=''">
                and creatBy = #{creatBy}
            </if>
            <if test="status!=null and status!=''">
                and status = #{status}
            </if>
            <if test="creatDate_from!=null and creatDate_from!='' and creatDate_to!=null and creatDate_to!='' ">
                and createDate between  #{creatDate_from} and #{creatDate_to}
            </if>

        </where>
        limit #{pageIndex},8;
    </select>

    <select id="countSolveTask" resultType="int">
        SELECT COUNT(`solveTaskNo`) from  solvetaskInfo;
    </select>
    <select id="findSolveTaskInfoByTaskNo" parameterType="String" resultType="SolveTaskInfo">
          select * from solvetaskInfo where solveTaskNo = #{taskNo};
    </select>
    <select id="findLastTask" resultType="SolveTaskInfo">
        select  * from solvetaskinfo order by solveTaskNo desc limit 0,1;
    </select>

    <insert id="addSolveTaskInfo" parameterType="Solvetaskinfo" >
        insert into solvetaskinfo(solveTaskNo,solveTaskName,floawList,manager,creatBy,
        createDate,finishiworkerId,documents,`describe`,`comment`) value
        (#{solveTaskNo},#{solveTaskName},#{floawList},#{manager},#{creatBy},#{createDate},
        #{finishiworkerId},#{documents},#{describe},#{comment});
    </insert>

    <update id="updateTaskInfo" parameterType="Solvetaskinfo">
        update solvetaskinfo
        <set>
            <if test="solveTaskName!=null and solveTaskName!=''">
                solveTaskName = #{solveTaskName},
            </if>
            <if test="floawList!=null and floawList!=''">
                floawList = #{floawList},
            </if>
            <if test="solveTaskName!=null and solveTaskName!=''">
                manager = #{manager},
            </if>
            <if test="solveTaskName!=null and solveTaskName!=''">
                manager = #{manager},
            </if>
            <if test="finishiworkerId!=null and finishiworkerId!=''">
                finishiworkerId = #{finishiworkerId},
            </if>
            <if test="finishDate!=null and finishDate!=''">
                finishDate = #{finishDate},
            </if>
            <if test="describe!=null and describe!=''">
                describe = #{describe},
            </if>
            <if test="status!=null and status!=''">
                status = #{status},
            </if>
            <if test="comment!=null and comment!=''">
                comment = #{comment},
            </if>
        </set>
        where solveTaskNo = #{solveTaskNo};
    </update>

    <select id="findSolveTaskInfoByUserNo" resultType="Solvetaskinfo" parameterType="String">
        select * from solvetaskinfo where  finishiworkerId like concat('%',#{checkBy},'%')
    </select>

</mapper>