<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.elp.dao.SolveTaskInfoDao">


    <select id="findAllSolveTaskInfo" resultType="SolveTaskInfo">
    select `solveTaskNo`,solveTaskName,floawList,manager,finishiworkerId,creatBy
    ,createDate,documents,`describe`,`status` from solvetaskInfo
</select>
    <!--动态查询-->
    <select id="searchSolveTask" resultType="SolveTaskInfo">
        select `solveTaskNo`,solveTaskName,floawList,manager,finishiworkerId,finishDate,creatBy
        ,createDate,documents,`describe`,`status`,`comment` from solvetaskInfo
        <where>
            <if test="taskNo!=null and taskNo!=''">
                and solveTaskNo like concat('%',#{taskNo},'%')
            </if>
            <if test="taskName!=null and taskName!=''">
                and solveTaskName like concat('%',#{taskName},'%')
            </if>
            <if test="creatBy!=null and creatBy!=''">
                and creatBy = #{creatBy}
            </if>
            <if test="status!=null and status!=''">
                and status = #{status}
            </if>
            <if test="creatDate_from!=null and creatDate_from!='' and creatDate_to!=null and creatDate_to!='' ">
                and createDate between  #{creatDate_from} and #{creatDate_to}
            </if>

        </where>
        limit #{pageIndex},8;
    </select>

    <select id="countSolveTask" resultType="int">
        SELECT COUNT(`solveTaskNo`) from  solvetaskInfo;
    </select>
    <select id="findSolveTaskInfoByTaskNo" parameterType="String" resultType="SolveTaskInfo">
          select * from solvetaskInfo where solveTaskNo = #{taskNo};
    </select>
    <select id="findLastTask" resultType="SolveTaskInfo">
        select  * from solvetaskinfo order by solveTaskNo desc limit 0,1;
    </select>

</mapper>