<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.elp.dao.TowerinfoDao">
    <select id="findAllTowerPage" resultType="Towerinfo">
        select * from towerinfo
        <where>
            <if test="circuitNo!=null and circuitNo!=''">
                and circuitNo like concat('%',#{circuitNo},'%')
            </if>
            <if test="status!=null and status!=''">
                and status=#{status}
            </if>
        </where>
        limit #{pageIndex},#{pageSize}
    </select>

    <select id="findAllTowerPageCount" parameterType="String" resultType="int">
        select count(1) as count from towerinfo
        <where>
            <if test="circuitNo!=null and circuitNo!=''">
                and circuitNo like concat('%',#{circuitNo},'%')
            </if>
            <if test="status!=null and status!=''">
                and status=#{status}
            </if>
        </where>
    </select>

    <insert id="addOneTower" parameterType="Towerinfo">
        insert into towerinfo (towerNo, circuitNo, status) value (#{towerNo},#{circuitNo},#{status})
    </insert>
    <update id="updateTower" parameterType="Towerinfo">
        update towerinfo set circuitNo=#{circuitNo},status=#{status} where towerNo=#{towerNo}
    </update>
    <select id="findOneTower" parameterType="String" resultType="Towerinfo">
        select towerNo from towerinfo;
    </select>
    <delete id="delOneTower" parameterType="String">
        delete  from towerinfo where towerNo=#{towerNo}
    </delete>
    <update id="updateOneStatus" parameterType="String">
        update towerinfo set status=#{useStatus} where circuitNo=#{circuitNo}
    </update>
    <delete id="delAllTower">
        delete from towerinfo where circuitNo=#{circuitNo}
    </delete>

    <select id="findTowerListByCircuitNoPaging"  resultType="Towerinfo">
        select * from towerinfo where circuitNo=#{circuitNo}
            limit #{from},#{pageSize}
    </select>
    <select id="findTowerListByCircuitNoPagingCount" resultType="int">
        select count(0) from towerinfo where circuitNo=#{circuitNo}
</select>
</mapper>