<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.elp.dao.WorkerinfoDao">

    <select id="findAllWorker" resultType="Workerinfo">
        select  * from  workerinfo where userNo=#{userNo}
    </select>

    <select id="findWorkerByRoleId" resultType="Workerinfo" parameterType="int">
        select * from workerinfo where roleId=#{roleId};
    </select>

    <select id="findAllWorkers" resultType="Workerinfo">
        select * from workerinfo
    </select>

    <update id="updateWorkerByUserNo" parameterType="Workerinfo">
        update workerinfo set userNo=#{userNo},userName=#{userName},password=#{password},sex=#{sex},
        age=#{age},hiredate=#{hiredate},dimissionData=#{dimissionData},tel=#{tel},email=#{email} where userNo=#{userNo}
    </update>

</mapper>